body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  cursor: default;
}

button:not(:disabled), select, option {
  cursor: pointer;
}

.loading-container {
  background: #fff;
  overflow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loading-container.disabled {
  /* Putting the transition code here will cause
    the loading screen to pop in and fade out. */
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  pointer-events: none;
  opacity: 0;
}

.login-container.disabled, .main-container.disabled,
.lobby-container.disabled, .game-container.disabled,
.lobby-toolset.disabled, .game-toolset.disabled {
  display: none;
}

.main-intro > span#intro-name {
  cursor: text;
}

.login-container input#login-name {
  outline: none;
  font-weight: bold;
  padding: 2px;
}

span#intro-name {
  background-color: rgb(255, 222, 34);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2px 4px;
  font-weight: bold;
  outline: 0;
}

.theme-selector {
  display: inline-table;
}

.theme-selector label {
  display: table-cell;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(169, 169, 169);
  border-right: none;
  color: #000;
  padding: 0px 4px;
}

.theme-selector select {
  display: table-cell;
  padding: 1px;
  outline: 0;
}

.main-toolbar {
  background-color: #f7eee7;
  border-top: 2px solid #a7a59b;
  border-radius: 2px;
  margin: 8px auto;
  padding: 6px;
}

.lobby-toolset, .game-toolset, .global-toolset {
  display: inline;
}

.global-toolset {
  float: right;
}

.main-logo {
  float: right;
  padding: 1px;
  margin-right: 6px
}

/* Dark theme styling. */
.theme-dark {
  color: rgb(253, 253, 253);
}

.theme-dark, .theme-dark .loading-container:not(.no-theme) {
  background: #272727;
}

.theme-dark .login-container input#login-name {
  background-color: #f5f5f5;
  border: 1px solid rgb(94, 94, 94);
}

.theme-dark .login-container input#login-name:focus {
  background-color: #fff;
}

.theme-dark span#intro-name {
  color: #000;
}

.theme-dark .main-toolbar {
  background-color: #726860;
  border-top: 2px solid #a7a59b;
}

.theme-dark .main-logo,
.theme-dark .loading-container:not(.no-theme) .loading-animation {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
