body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.loading-container {
  background: #fff;
  overflow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loading-container.disabled {
  /* Putting the transition code here will cause
    the loading screen to pop in and fade out. */
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  pointer-events: none;
  opacity: 0;
}

.login-container.disabled, .main-container.disabled,
.lobby-container.disabled, .game-container.disabled,
.lobby-toolset.disabled, .game-toolset.disabled {
  display: none;
}

.main-intro > span:not(#intro-name) {
  cursor: default;
}

span#intro-name {
  background-color: rgb(255, 222, 34);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2px 4px;
  font-weight: bold;
  outline: 0;
}

.main-toolbar {
  background-color: #f7eee7;
  border-top: 2px solid #a7a59b;
  border-radius: 2px;
  margin: 8px auto;
  padding: 6px;
}

.lobby-toolset, .game-toolset, .global-toolset {
  display: inline;
}

.global-toolset {
  float: right;
}
