body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  cursor: default;
}

button:disabled {
  cursor: no-drop
}

button:not(:disabled), select, option {
  cursor: pointer;
}

.loading-container {
  background: #fff;
  overflow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.loading-container.disabled {
  /* Putting the transition code here will cause
    the loading screen to pop in and fade out. */
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  pointer-events: none;
  opacity: 0;
}

.login-container.disabled, .main-container.disabled,
.lobby-container.disabled, .game-container.disabled,
.lobby-toolset.disabled, .game-toolset.disabled {
  display: none;
}

.main-intro > span#intro-name {
  cursor: text;
}

.login-container input#login-name {
  outline: none;
  font-weight: bold;
  padding: 2px;
}

.login-container input#login-name::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 100;
  opacity: 0.5;
}

.login-container input#login-name::-moz-placeholder { /* Firefox 19+ */
  font-weight: 100;
  opacity: 0.5;
}

.login-container input#login-name:-ms-input-placeholder { /* IE 10+ */
  font-weight: 100;
  opacity: 0.5;
}

.login-container input#login-name:-moz-placeholder { /* Firefox 18- */
  font-weight: 100;
  opacity: 0.5;
}

span#intro-name {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2px 4px;
  font-weight: bold;
  outline: 0;
}

.theme-selector {
  display: inline-table;
}

.theme-selector label {
  display: table-cell;
  border-right: none;
  color: #000;
  padding: 0px 4px;
}

.theme-selector select {
  display: table-cell;
  padding: 1px;
  outline: 0;
}

.main-toolbar {
  border-radius: 2px;
  margin: 8px auto;
  padding: 6px;
}

.lobby-toolset, .game-toolset, .global-toolset {
  display: inline;
}

.global-toolset {
  float: right;
}

.main-logo {
  float: right;
  padding: 1px;
  margin-right: 6px
}
