body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.loading-container {
  background: #fff;
  overflow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}

.loading-container.disabled {
  pointer-events: none;
  opacity: 0;
}
